.login-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: var(--radius);
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  margin-top: 1.2rem;
  padding: 0.8rem;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius);
}
