spring:
  application:
    name: ecommerce-backend
  data:
    mongodb:
      uri: mongodb://localhost:27017/ecommerce

server:
  port: 8080

logging:
  level:
    root: DEBUG
    com.school.ecommerce: DEBUG
